/* Variables */

$main-color: #fff;
$secondary-color: #000;
$dark-color: #262626;
$border-color: #fb3a3a;
$contact-color: #011f05;

$product-config: #588efb;
$product-new: #962afa;

$text-dark: #000;
$text-light: #fff;
$text-subheader: #fb3a3a;
$text-links: #838383;

$font-size-xs: 13px;
$font-size-s: 15px;
$font-size-basic: 17px;
$font-size-basic-m: 20px;
$font-size-m: 26px;
$font-size-l: 30px;
$font-size-2l: 40px;
$font-size-xl: 48px;

$font-roboto: "Roboto Condensed", sans-serif;

$website-width: 1440px;
$content-width: 1135px;

$breakpointMobile: 767px;
$breakpointTablet: 1200px;
$breakpointDesktop: 1201px;

$breakpointFix: 1368px;
